<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/nav.ejs') %>
    <main>
      <h1>Some Error occurred</h1>
      <p>sorry for the inconvenient!</p>
    </main>
<%- include('includes/end.ejs') %>
